div{
    width: 200px;
    height: 200px;
    margin: 20px;
    display: inline-block;
}
div:hover{
    background: paleturquoise;
    transform: scale(2);
}

.one{
    background: rgb(241, 115, 136);
    transform: translateX(120px); /*right*/
}

.two{
    background: rgb(189, 64, 85);
    transform: translateY(-120px); /*top*/
    transition: all 3s 2s;
}

.three{
    background: rgb(121, 28, 44);
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%); /* placed in the middle*/
    transition-property: background, border-radius;
    transition-duration: 4s, 7s; /* transition-duration: 4s if both same duration*/
    transition-delay: 2s;
    /* transform:translate(-120px, 600px); /*x, y*/
} 

.three:hover{
    border-radius: 50%;
}